#search{
    display: grid;
    grid-auto-flow: column;
    padding-inline: 1rem;
    
    grid-template-columns: 3fr 1fr;
    block-size: 3rem;
    input, button{
        block-size: 100%;
        inline-size: 100%;
    }
    input{
        padding-inline: 1rem;
        font-size: 1.2rem;
        &::placeholder{
            font-size: 1rem;
        }
    }
    button{
        text-transform: uppercase;
        font-weight: 700;
        background-color: hotpink;
        color: white;
        border:none;
        letter-spacing: 0.05rem;

        &:hover{
            color: hotpink;
            background-color: white;
        }
    }
}