$breakpoints: (
    s: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
)

@mixin mq($key){
    $size: map-get($breakpoints, $key);

    @media only screen and (max-width: $size){
        @content
    }
}

@mixin mqs($key, $key2){
    $size: map-get($breakpoints, $key);
    $size2: map-get($breakpoints, $key2);

    @media only screen (min-width: $size) and (max-width: $size2){
        @content
    }
}