@import '_reset';
@import '_colors';
@import '_typography';
@import './modules';

:root{
   
    @each $color, $value in $colors {
        --clr-#{$color}: #{$value};
    }
}

body {
    background-color: lightslategrey;

    main {
        max-inline-size: 50rem;
        margin-inline: auto;
        padding-block-start: 1.5rem;
    }
}



 
